<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bogbag" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <link rel="icon" href="<%= asset_path('favicon.png') %>" type="image/png">

    <%= yield :head %>

    <!-- Include application CSS -->
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "likes", "data-turbo-track": "reload" %>

  </head>

  <body>
    <%= yield %>
  </body>




</html>
